{% extends 'base.html.twig' %}

{% block title %} Удалить опрос {% endblock %}
{% block header %} Удалить опрос {% endblock %}
{% block body %}

	<a href="{{ path('vote_list', {'page': getPageNumber()}) }}">Назад к опросам</a>
	<br><br>
	{% if error %}
		<div class="message-error">{{ error }}</div>
	{% endif %}

		<div class="content">
			<h3>{{ vote.title }}</h3>
			{% for option in vote.options %}
				{{ option.title }}<br>
			{% endfor %}
		</div>
	<form method='post' action='{{ path('vote_delete', {'id': vote.id }) }}'>
		<input type='hidden' name='_csrf_token' value='{{ csrf_token() }}'>
		<input type='submit' name='submit_vote_delete' value='Удалить опрос'>
	</form>

{% endblock %}