{% extends 'base.html.twig' %}

{% block title %} {{ vote.title }} {% endblock %}
{% block header %} {{ vote.title }} {% endblock %}
{% block body %}

	<a href="{{ path('vote_list', {'page': getPageNumber()}) }}">Назад к опросам</a>
	<br><br>
		{% if error %}
			<div class="message-error">{{ error }}</div>
		{% endif %}

	<div class="content">
		{% if access == 'close' %}
		<form method='post' action='{{ path('vote_show', {id: vote.id }) }}'>
			{% for option in vote.options %}
				{# <label> #}
					<div class='checkbox-line'>
					{% if vote.type == 1 %}						
						<input type="radio" name="vote_options" value="{{ option.id }}"> {{ option.title }}
					{% else %}
						<input type="checkbox" name="vote_options[]" value="{{ option.id }}"> {{ option.title }}
					{% endif %}
					</div>
				{# </label> #}
			{% endfor %}
			<input type='hidden' name='_csrf_token' value='{{ csrf_token() }}'>
			<hr>
			<div class='checkbox-line'>			
				<input type="checkbox" name="anon" value="1"> Голосовать анонимно 
			</div>
			<input type="submit" name="submit_vote_set" value="Голосовать">
			</form>
			<br>
			<a href="{{ path('vote_show', {'id': vote.id, 'access': 'open'}) }}">Просмотреть результаты</a>
		{% else %}
			<div class='vote-info'>
				Автор: {{ vote.author.username }}<br>
				Создан: {{ beautiful_date(vote.created_at) }}<br>
				{% if vote.status == 1 %}
					Статус: активно
				{% elseif vote.status == 0 %}
					Завершен {{ beautiful_date(vote.updated_at)|lower }}
				{% endif %}
			</div>
			<div class="vote-result-bar">
				<div class="vote-result-name">ВСЕГО</div>
				<div class="vote-result-info">{{ count }}</div>
				<div class="vote-result-percent"></div>
			</div>
			{% for option in sort_options %}
				{# CONFIG #}
				{% if count == 0 %}
					{% set percent = 0 %}
				{% else %}
					{% set percent = (option.users|length / count) * 100 %}
				{% endif %}
				<div class="vote-option-result">
					<div class="vote-option-bar">
						<div class="vote-option-bar-name">{{ option.title }}</div>
						<div class="vote-option-bar-info">{{ option.users|length }}</div>
						<div class="vote-option-bar-percent">
						{% if percent == 100 %}
							{{ percent|number_format(0, '.', ',') }}%
						{% else %}
							{{ percent|number_format(1, '.', ',') }}%
						{% endif %}
						</div>
					</div>
					<div class="vote-progress-bar">
						<div class="progress-line" style="width: {{ percent }}%"></div>
					</div>
					<div class="vote-option-users">
						{% for user in option.users %}
							{% if user.anon == 0 %}
								<span class='vote-users'>{{ user.author.username }}</span>{% if loop.last == 0 %}, {% endif %}
							{% elseif user.anon == 1 %}
								<span class='vote-users'>anon</span>{% if loop.last == 0 %}, {% endif %}
							{% endif %}
						{% endfor %}
					</div>
				</div>
			{% endfor %}
		{% endif %}
	</div>

{% endblock %}