{% extends 'base.html.twig' %}

{% block title %} Удалить контент {% endblock %}
{% block header %} Удалить контент {% endblock %}
{% block body %}

	<a href="{{ path('content_list') }}">Назад к контенту</a>
	<br>
	{% if error %}
		<div class="message-error">{{ error }}</div>
	{% endif %}

		<div class="content">
			<h3>{{ content.title }}</h3>
			{% if content.image %}
				<div class="content-image">
					<img src="../../public/images/content/content/{{ content.image }}">
				</div>
			{% endif %}
			<div class="content-article">
				{{ content.article|nl2br }}
			</div>
			<div class="content-info">
				- <a href="#">{{ content.author.username }}</a>, {{ content.created_at|date('d.m.Y') }}
			</div>
		</div>
	<form method='post' action='{{ path('content_delete', {'id': content.id }) }}'>
		<input type='hidden' name='_csrf_token' value='{{ csrf_token() }}'>
		<input type='submit' name='submit_content_delete' value='Удалить контент'>
	</form>

{% endblock %}