{% extends 'base.html.twig' %}

{% block title %} Админка: Чемпионы {% endblock %}
{% block header %} Админка {% endblock %}
{% block body %}
	{% include 'admin/_panel.html.twig' %}
	<h4>Чемпионы</h4>

	{% if error %}
		<div class="message-error">{{ error }}</div>
	{% endif %}

	{% if not upload is empty %}
	<form method='post' action='{{ path('admin_cups') }}'>
		<select name='user'>
			{% for user in users %}
			<option value='{{ user.id }}'>{{ user.username }}</option>
			{% endfor %}
		</select>
		<br><br>
		{% for image in upload %}
			<input type='radio' name='image' value='{{ image.id }}'>
			<img class='upload-panel' src='{{ app.path }}/images/tournaments/cup/{{ image.image }}'>
		{% endfor %}
		<br>
		<label>Причина добавления<br>
		<input type='text' name='description'>
		</label>
		<input type='hidden' name='_csrf_token' value='{{ csrf_token() }}'><br>
		<input type='submit' name='submit_add_cups' value='Добавить'>
	</form>	
	{% endif %}
	{% for cup in cups %}
	<div class='show-panel'>
		<div class="show-panel-image">
			<img class='upload-panel' src='{{ app.path }}/images/tournaments/cup/{{ cup.image.image }}'>
		</div>		
		<div class="show-panel-user">{{ cup.user.username }}</div>
		<div class="show-panel-description">{{ cup.description }}</div>
		<div class="show-panel-close">
		<form method="post" action="{{ path('admin_cups') }}">
			<input type='hidden' name='_csrf_token' value='{{ csrf_token() }}'>
			<input type='hidden' name='cup_id' value='{{ cup.id }}'>
			<input type="submit" class='l-short' name="submit_delete_cups" value="х">
		</form>
		</div>
	</div>
	{% endfor %}
{% endblock %}