{% extends 'base.html.twig' %}

{% block title %} Админка: пользователи {% endblock %}
{% block header %} Админка {% endblock %}
{% block body %}
	{% include 'admin/_panel.html.twig' %}
	<h4>Пользователи</h4>	

	{% for activity in users %}

	{% set den = 0 %}
	{% set constraints = '' %}
	{% for permission in role_user.permissions %}
		{% if permission.id not in activity.user.permissions.keyBy('id')|keys %}
			{% set den = 1 %}
			{% if constraints == '' %}
				{% set constraints = permission.permission %}
			{% else %}
				{% set constraints = constraints ~ ', ' ~ permission.permission %}
			{% endif %}
		{% endif %}
	{% endfor %}
	<div class="admin-panel-wrapper">
		{% if den == 1 %}
			<div class='admin-panel-users ban-color'>
		{% else %}
			<div class='admin-panel-users'>
		{% endif %}
			<span class='admin-panel-users-username'>{{ activity.user.username }}</span> {{ beautiful_date(activity.updated_at) }}
		</div>
		<div class="admin-panel-info">
			<a href="{{ path('user_profile', {'id': activity.user_id}) }}">Перейти в профиль</a>
			<br>
			{% if isAccess('ROLE_SUPER_ADMIN') or hierarchyAccess(activity.user.id) or app.user.id == activity.user.id %}
				<a href="{{ path('admin_permissions', {'id': activity.user.id}) }}">Разрешения</a>
			{% endif %}
			{% if den %}
				<br>Ограничения: {{ constraints }}
			{% endif %}
			<br><br>			
			<div class="user-last-info">
				<b>Last Page:</b> {{ activity.lastPage }}<br>
				<b>IP:</b> {{ activity.ip }}<br>
				{% if isAccess('ROLE_SUPER_ADMIN') %}
				<b>UserAgent:</b> {{ activity.userAgent }}<br>
				{% endif %}
			</div>
		</div>
	</div>		
	{% endfor %}

{% endblock %}