{% extends 'base.html.twig' %}

{% block title %} Админка:
	{% if tournament %}
		{{ tournament.title }}
	{% else %}
		Турнир не найден
	{% endif %}
{% endblock %}
{% block header %} Админка {% endblock %}
{% block body %}
	{% include 'admin/_panel.html.twig' %}

	{% if tournament %}
		<h3>{{ tournament.title }}</h3>
	{% else %}
		<h6>ТУРНИР НЕ НАЙДЕН</h6>
	{% endif %}
	<a href="{{ path('admin_tournaments') }}">Назад к турнирам</a>
	<br><br>

	{% if error %}
		<div class="message-error">{{ error }}</div>
	{% endif %}

	<form method='post'>
		<label>НАЗВАНИЕ ТУРНИРА<br><input class='l-middle' type='text' value='{{ tournament.title }}' name='tournament_name'></label>
		<input type='hidden' name='_csrf_token' value='{{ csrf_token() }}'>
		<input type='submit' name='submit_tournament_name' value='Изменить'>		
	</form>
	<br>
	{% if tournament.status == 1 %}
		<h6>Состояние турнира: сбор заявок на участние</h6>
	{% elseif tournament.status == 2 %}
		<h6>Состояние турнира: активный</h6>
	{% endif %}

	<br><a href=""><h6>ПРЕДОСТАВИТЬ ДОСТУП</h6></a>
	<a href="{{ path('admin_tournament_logo', {'id': tournament.id }) }}"><h6>ДОБАВИТЬ ЛОГОТИП</h6></a>
	<a href=""><h6>ДОБАВИТЬ КОМАНДЫ</h6></a>
	{% if tournament.status == 1 %}
		<a href=""><h6>ПРОСМОТР ЗАЯВОК</h6></a>
	{% elseif tournament.status == 2 %}
		<a href=""><h6>ЗАМЕНА ПОЛЬЗОВАТЕЛЕЙ</h6></a>
	{% endif %}

	<br><hr><br>
	<form method='post'>
		<input type='hidden' name='_csrf_token' value='{{ csrf_token() }}'>		
		<input type='submit' onclick='return confirm("Действительно перевести в архив?")' name='submit_tournament_archive' value='Перевести в архив'>		
	</form>
	<br>
	<form method='post'>
		<input type='hidden' name='_csrf_token' value='{{ csrf_token() }}'>		
		<input type='submit' onclick='return confirm("Действительно удалить турнир?")' name='submit_tournament_delete' value='Удалить турнир'>		
	</form>	

{% endblock %}