{% extends 'wide.html.twig' %}

{% block title %} Добавить роль {% endblock %}
{% block header %} Добавить роль {% endblock %}
{% block body %}

	<a href="{{ path('role_list') }}">Назад к ролям</a>
	<br><br>
	{% if error %}
		<div class="message-error">{{ error }}</div>
	{% endif %}

	<form method='post' action='{{ path('role_add') }}'>
		<label>Роль<br><input type='text' name='role' value='{{ lastRole }}'></label>
		<input type='hidden' name='_csrf_token' value='{{ csrf_token() }}'>
		<input type='submit' name='submit_role_add' value='Добавить роль'>
	</form>

{% endblock %}