{% extends 'base.html.twig' %}

{% block title %} Удалить роль {% endblock %}
{% block header %} Удалить роль {% endblock %}
{% block body %}

	<a href="{{ path('role_list') }}">Назад к ролям</a>
	<br><br>
	{% if error %}
		<div class="message-error">{{ error }}</div>
	{% endif %}

	{{ role.role }}
	<form method='post' action='{{ path('role_delete', {'id': role.id }) }}'>
		<label><input type='hidden' name='_csrf_token' value='{{ csrf_token() }}'></label>
		<input type='submit' name='submit_role_delete' value='Удалить роль'>
	</form>

{% endblock %}