<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'> 	
	<title>{% block title %}SODOMANIA{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="{{ app.path }}/css/style.css">
</head>
<body>
	<div class="wrapper">
		<nav>
			<ul>
				<li class='logo'><a class='logo' href="{{ path('app_index') }}">
					<img src="{{ app.path }}/images/interface/king.png">
				</a></li>
				<li><a href="{{ path('guestbook') }}">ТУРНИРЫ</a>
					<ul class='down-menu'>
						<li><a href="">АКТИВНЫЕ</a></li>
						<li><a href="">АРХИВ</a></li>
						<li><a href="{{ path('content_show', {'type': 'rules'}) }}">ПРАВИЛА</a></li>
					</ul>
				</li>
				<li><a href="">МЫ</a>
					<ul class='down-menu'>
						<li><a href="">КОМАНДЫ</a></li>
						<li><a href="">РЕЙТИНГ</a></li>
						<li><a href="{{ path('vote_list') }}">ОПРОСЫ</a></li>
						<li><a href="">СТАТИСТИКА</a></li>
					</ul>
				</li>
				<li><a href="{{ path('guestbook') }}">ГЕСТА</a></li>
				{% if app.user %}
					<li><a href="#">INFO</a>
						<ul class='down-menu'>
							<li><a href="{{ path('user_profile') }}">ПРОФИЛЬ</a></li>
							{% if isAccess('ROLE_MODERATOR') or isAccess('ROLE_ADMIN') %}
								<li><a href="{{ path('admin_panel') }}">АДМИНКА</a></li>
							{% endif %}
							<li><a href="{{ path('auth_logout') }}">ВЫЙТИ</a></li>
						</ul>
					</li>
				{% else %}
					<li><a href="{{ path('auth_login') }}">ВХОД</a></li>
				{% endif %}
			</ul>
		</nav>
		<header><img src="{{ app.path }}/images/interface/head.jpg"></header>
		<section>
			<article>
				<h1>{% block header %}{% endblock %}</h1>
				{% block body %}{% endblock %}
			</article>				
		</section>
		<footer>© JUVEPRO 2015 - {{ 'now'|date('Y') }} |
		<a class='footer-a' href='{{ path('content_show', {'type': 'faq'}) }}'>FAQ</a> |
        <a class='footer-a' href='{{ path('content_show', {'type': 'about'}) }}'>О нас</a>
		</footer>
	</div>
	<script type="text/javascript" src="{{ app.path }}/js/jquery.min.js"></script>
	<script type="text/javascript" src="{{ app.path }}/js/libs.js"></script>
</body>
</html>