<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'> 	
	<title>{% block title %}SODOMANIA{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="{{ app.path }}/css/style.css">
</head>
<body>
	<div class="wrapper">
		<nav>
			<ul>
				<li><a class='logo' href="{{ path('app_index') }}">
					<img src="{{ app.path }}/images/interface/king.png">
				</a></li>
				<li><a href="{{ path('guestbook') }}">ТУРНИРЫ</a>
					<ul class='down-menu'>
						<li><a href="">АКТИВНЫЕ</a></li>
						<li><a href="">АРХИВ</a></li>
						<li><a href="">ПРАВИЛА</a></li>
					</ul>
				</li>
				<li><a href="{{ path('vote_list') }}">МЫ</a></li>
				<li><a href="#">ГЕСТА</a></li>
				{# {% if app.user %} #}
				<li><a href="#">INFO</a></li>					
				{# {% else %} #}
					{# <li><a href="{{ path('auth_login') }}">ВХОД</a></li> #}
				{# {% endif %} #}
			</ul>
		</nav>
		<header><img src="{{ app.path }}/images/interface/head.jpg"></header>
		<section>
			<h1>{% block header %}{% endblock %}</h1>
			{% block body %}{% endblock %}
		</section>
		<footer>© JUVEPRO 2015 - {{ 'now'|date('Y') }} </footer>
	</div>
	<script type="text/javascript" src="{{ app.path }}/js/jquery.min.js"></script>
	<script type="text/javascript" src="{{ app.path }}/js/libs.js"></script>
</body>
</html>