<div class='bbpanel'>
	{% if adminbb == 1 %}
		<i title='Заголовок h1' class='bbimg fa fa-header' id='h1'>1</i>
		<i title='Заголовок h2' class='bbimg fa fa-header' id='h2'>2</i>
		<i title='Красный цвет' class='bbimg red fa fa-font' id='red'></i>
		<i title='Изображение' class='bbimg fa fa-image' id='img'></i>
	{% endif %}
	<i title='Жирный' class='bbimg fa fa-bold' id='b'></i>
	<i title='Курсивный' class='bbimg fa fa-italic' id='i'></i>
	<i title='Перечеркнутый' class='bbimg fa fa-strikethrough' id='s'></i>
	<i title='Подчеркнутый' class='bbimg fa fa-underline' id='u'></i>
	<i title='Цитата' class='bbimg fa fa-comment-o' id='quote'></i>
	<i title='Спойлер' class='bbimg fa fa-briefcase' id='spoiler'></i>
	{# <i title='Пост' class='bbimg fa fa-list-alt' id='post'></i> #}
	<i title='Влево' class='bbimg fa fa-align-left' id='left'></i>
	<i title='Центрировать' class='bbimg fa fa-align-center' id='center'></i>
	<i title='Вправо' class='bbimg fa fa-align-right' id='right'></i>
	<span class='bbsmile no-border'><img title='СМАЙЛИКИ' src='{{ app.path }}/images/smiles/smile.gif' class='headsmile'><br></span>
</div>
<div class='smilepanel'>
	<img class='smiles' id=':smile' src='{{ app.path }}/images/smiles/smile.gif'>
	<img class='smiles' id=':idea' src='{{ app.path }}/images/smiles/idea.gif'>
	<img class='smiles' id=':loupe' src='{{ app.path }}/images/smiles/loupe.gif'>
	<img class='smiles' id=':cheesy' src='{{ app.path }}/images/smiles/cheesy.gif'>
	<img class='smiles' id=':dont' src='{{ app.path }}/images/smiles/dont.gif'>
	<img class='smiles' id=':eat' src='{{ app.path }}/images/smiles/eat.gif'>
	<img class='smiles' id=':fu' src='{{ app.path }}/images/smiles/fu.gif'>
	<img class='smiles' id=':fig' src='{{ app.path }}/images/smiles/fig.gif'>
	<img class='smiles' id=':gigi' src='{{ app.path }}/images/smiles/gigi.gif'>
	<img class='smiles' id=':pozor' src='{{ app.path }}/images/smiles/pozor.gif'>
	<img class='smiles' id=':crazy' src='{{ app.path }}/images/smiles/crazy.gif'>
	<img class='smiles' id=':hmm' src='{{ app.path }}/images/smiles/hmm.gif'>
	<img class='smiles' id=':horor' src='{{ app.path }}/images/smiles/horor.gif'>
	<img class='smiles' id=':hurra' src='{{ app.path }}/images/smiles/hurra.gif'>
	<img class='smiles' id=':alk' src='{{ app.path }}/images/smiles/alk.gif'>
	<img class='smiles' id=':mad' src='{{ app.path }}/images/smiles/mad.gif'>
	<img class='smiles' id=':deal' src='{{ app.path }}/images/smiles/deal.gif'>
	<img class='smiles' id=':moral' src='{{ app.path }}/images/smiles/moral.gif'>
	<img class='smiles' id=':dad' src='{{ app.path }}/images/smiles/dad.gif'>
	<img class='smiles' id=':niceguy' src='{{ app.path }}/images/smiles/niceguy.gif'>
	<img class='smiles' id=':banghead' src='{{ app.path }}/images/smiles/banghead.gif'>
	<img class='smiles' id=':nono' src='{{ app.path }}/images/smiles/nono.gif'>
	<img class='smiles' id=':beer' src='{{ app.path }}/images/smiles/beer.gif'>
	<img class='smiles' id=':pain' src='{{ app.path }}/images/smiles/pain.gif'>
	<img class='smiles' id=':cowboy' src='{{ app.path }}/images/smiles/cowboy.gif'>
	<img class='smiles' id=':pop' src='{{ app.path }}/images/smiles/pop.gif'>
	<img class='smiles' id=':pray' src='{{ app.path }}/images/smiles/pray.gif'>
	<img class='smiles' id=':fear' src='{{ app.path }}/images/smiles/fear.gif'>
	<img class='smiles' id=':aaa' src='{{ app.path }}/images/smiles/aaa.gif'>
	<img class='smiles' id=':box' src='{{ app.path }}/images/smiles/box.gif'>
	<img class='smiles' id=':abuse' src='{{ app.path }}/images/smiles/abuse.gif'>
	<img class='smiles' id=':rjunemagu' src='{{ app.path }}/images/smiles/rjunemagu.gif'>
	<img class='smiles' id=':ass' src='{{ app.path }}/images/smiles/ass.gif'>
	<img class='smiles' id=':rolleyes' src='{{ app.path }}/images/smiles/rolleyes.gif'>
	<img class='smiles' id=':trollface' src='{{ app.path }}/images/smiles/trollface.gif'>
	<img class='smiles' id=':shit' src='{{ app.path }}/images/smiles/shit.gif'>
	<img class='smiles' id=':balalaika' src='{{ app.path }}/images/smiles/balalaika.gif'>
	<img class='smiles' id=':spy' src='{{ app.path }}/images/smiles/spy.gif'>
	<img class='smiles' id=':thumbdown' src='{{ app.path }}/images/smiles/thumbdown.gif'>
	<img class='smiles' id=':umnik' src='{{ app.path }}/images/smiles/umnik.gif'>
	<img class='smiles' id=':thumbup' src='{{ app.path }}/images/smiles/thumbup.gif'>
	<img class='smiles' id=':toilet' src='{{ app.path }}/images/smiles/toilet.gif'>
	<img class='smiles' id=':jude' src='{{ app.path }}/images/smiles/jude.gif'>
	<img class='smiles' id=':viselnik' src='{{ app.path }}/images/smiles/viselnik.gif'>
	<img class='smiles' id=':kosyak' src='{{ app.path }}/images/smiles/kosyak.gif'>
	<img class='smiles' id=':upset' src='{{ app.path }}/images/smiles/upset.gif'>
	<img class='smiles' id=':yasmile' src='{{ app.path }}/images/smiles/yasmile.gif'>
	<img class='smiles' id=':zombie' src='{{ app.path }}/images/smiles/zombie.gif'>
	<img class='smiles' id=':confused' src='{{ app.path }}/images/smiles/confused.gif'>
	<img class='smiles' id=':beee' src='{{ app.path }}/images/smiles/beee.gif'>
</div>	