{% set pages = (count/limit)|round(0, 'ceil') %}

{# prev and next pages #}
{% set prevpage = page - 1 %}
{% set nextpage = page + 1 %}

{% if page > 3 %}
	{% set start = page - 2 %}
{% endif %}

{% set finish = start + 5 %}
{% if finish > pages %}
	{% set finish = pages %}
{% endif %}

{% if (finish - start) < 4 %}
	{% set start = finish - 4 %}
{% endif %}

{% if start < 1 %}
	{% set start = 1 %}
{% endif %}

<div class='pagenavigation'>
	{% if pages > 1 %}
		{% if page > 3 and finish > 5 %}
			<span><a href="/{{ page_name }}/1"><<</a></span>
			<span><a href="/{{ page_name }}/{{ prevpage }}"><</a></span>
		{% else %}
			<span class='background-none'></span>
			<span class='background-none'></span>
		{% endif %}	
		{% for i in start..finish %}
			{% if i == page %}
				<span class='active'>{{ i }}</span>
			{% else %}
				<span><a href="/{{ page_name }}/{{ i }}">{{ i }}</a></span>
			{% endif %}
		{% endfor %}
		{% if pages > finish %}
			<span><a href="/{{ page_name }}/{{ nextpage}}">></a></span>
			<span><a href="/{{ page_name }}/{{ pages }}">>></a></span>
		{% else %}
			<span class='background-none'></span>
			<span class='background-none'></span>
		{% endif %}
	{% endif %}
</div>