{% extends 'wide.html.twig' %}

{% block title %} Удалить разрешение {% endblock %}
{% block header %} Удалить разрешение {% endblock %}
{% block body %}

	<a href="{{ path('permission_list') }}">Назад к разрешениям</a>
	<br><br>
	{% if error %}
		<div class="message-error">{{ error }}</div>
	{% endif %}

	{{ permission.permission }}
	<form method='post' action='{{ path('permission_delete', {'id': permission.id }) }}'>
		<label><input type='hidden' name='_csrf_token' value='{{ csrf_token() }}'></label>
		<input type='submit' name='submit_permission_delete' value='Удалить разрешение'>
	</form>

{% endblock %}