{% extends 'base.html.twig' %}

{% block title %} Вход {% endblock %}
{% block header %} Вход {% endblock %}
{% block body %}

	{% if app.user %}
		Вы вошли как {{ app.user.username }}
	{% else %}

		{% if error %}
			<div class="message-error">{{ error }}</div>
		{% endif %}

		<form method='post' action='{{ path('auth_login') }}'>
			<label>Логин <br><input class='l-middle' type='text' name='username' value='{{ lastUsername }}'></label>
			<label>Пароль <br><input class='l-middle' type='password' name='password'></label>
			<label>
					<input class='checkbox' type='checkbox' class='checkbox-text' name='remember_me'>
					<span class="checkbox-custom"></span>
                    <span class="label">Запомнить меня</span>													
			</label>
			<input type='hidden' name='_csrf_token' value='{{ csrf_token() }}'>
			<input type='submit' name='submit_login' value='Вход'>
		</form>

		<br><hr>
		ЕСЛИ ВЫ НЕ ЗАРЕГИСТРИРОВАНЫ, ПРОЙДИТЕ ПРОЦЕДУРУ <a href="{{ path('auth_registration') }}">РЕГИСТРАЦИИ</a>
		<br><br>
		<a href="{{ path('auth_reset_password') }}">ЗАБЫЛИ ПАРОЛЬ?</a>

	{% endif %}

{% endblock %}