{% extends 'wide.html.twig' %}

{% block title %} Восстановление пароля {% endblock %}
{% block header %} Восстановление пароля {% endblock %}
{% block body %} 

	{% if error_token %}
		<div class="message-error">{{ error_token }}</div>
	{% else %}

	{% if error %}
		<div class="message-error">{{ error }}</div>
	{% endif %}

	{% if success %}
		<div class="message-success">{{ success }}</div>		
	{% else %}
		
			<form method='post' action="{{ path('auth_reset_password_confirmation', {'token': token}) }}">
				<label>Введите новый пароль <br><input class='l-middle' type='password' name='password'></label>
				<label>Повторите пароль <br><input class='l-middle' type='password' name='repeat_password'></label>
				<input type='hidden' name='_csrf_token' value='{{ csrf_token() }}'>
				<input type='submit' name='submit_reset_password' value='Изменить пароль'>
			</form>

		{% endif %}

	{% endif %}

{% endblock %}