{% extends 'wide.html.twig' %}

{% block title %} Смена пароля {% endblock %}
{% block header %} Смена пароля {% endblock %}
{% block body %} 

	<a href="{{ path('user_profile') }}">Назад в профиль</a>
	<br><br>
	{% if success %}
		<div class="message-success">{{ success }}</div>
	{% else %}
		{% if error %}
			<div class="message-error">{{ error }}</div>
		{% endif %}
	{% endif %}

		<form method='post' action="{{ path('user_change_password') }}">
			<label>Новый пароль <br><input class='l-middle' type='password' name='newpassword' value=''></label>
			<label>Повторите пароль<br><input class='l-middle' type='password' name='repeat_password' value=''></label>
			<label>Текущий пароль <br><input class='l-middle' type='password' name='password' value=''></label>
			<input type='hidden' name='_csrf_token' value='{{ csrf_token() }}'>
			<input type='submit' name='submit_change_password' value='Изменить пароль'>
			<br>		
		</form>

{% endblock %}