{% extends 'base.html.twig' %}

{% block title %} Пользователи {% endblock %}
{% block header %} Пользователи {% endblock %}
{% block body %}
	
	{% set sort1 = 'alpha_desc' %}
	{% set sort2 = 'since_asc' %}
	{% set sign1 = 'up' %}
	{% set sign2 = 'down' %}
	{% if sort == 'alpha_desc' %}
		{% set sort1 = 'alpha_asc' %}
		{% set sign1 = 'down' %}			
	{% endif %}
	{% if sort == 'since_asc' %}
		{% set sort2 = 'since_desc' %}
		{% set sign2 = 'up' %}			
	{% endif %}	
	<div class="users-panel-sort">
		Сортировать по <a href="{{ path('user_list', {'sort': sort1}) }}">алфавиту <i class="fa fa-chevron-{{ sign1 }}" aria-hidden="true"></i></a>
		| <a href="{{ path('user_list', {'sort': sort2}) }}">дате регистрации <i class="fa fa-chevron-{{ sign2 }}" aria-hidden="true"></i></a>
	</div>
	<div class="users">
	{% for user in users %}
		<div class="user">
			<div class="user-image">
				{% if user.image %}
					{% if imageProportions(user.image) %}
						{% set rotation = 'image-width' %}
					{% else %}
						{% set rotation = 'image-height' %}
					{% endif %}
					<div class="{{ rotation }}">
						<img src="{{ app.path }}/images/users/{{ user.image }}">
					</div>
				{% else %}
					<div class="image-height">
						<img src="{{ app.path }}/images/interface/no_user.png">				
					</div>
				{% endif %}
			</div>
			<div class="user-info">
				{% if user.username|length > 20 %}
					<div class="user-info-username-small"><a class='no-style' href="{{ path('user_profile', {'id': user.id}) }}">{{ user.username }}</a>
				{% else %}
					<div class="user-info-username"><a class='no-style' href="{{ path('user_profile', {'id': user.id}) }}">{{ user.username }}</a>
				{% endif %}
				</div>
				<div class="user-info-other">
				since: {{ user.created_at|date('d.m.Y') }}<br>
				shirt number: -
				</div>
				{% if not user.achives is empty %}
					<div class="user-panel-achives">
					{% for achive in user.achives %}
						<img src="{{ app.path }}/images/tournaments/achive/{{ achive.image.image }}">
					{% endfor %}
					</div>
				{% endif %}
			</div>
		</div>
	{% endfor %}
	</div>

{% endblock %}