{% extends 'base.html.twig' %}

{% block title %} Профиль {% endblock %}
{% block header %} Профиль {% endblock %}
{% block body %}

	{% if user.id != app.user.id %}
		<a href="{{ path('user_list') }}">Вернуться к списку пользователей</a><br><br>
	{% endif %}
	{% if user %}
		<div class="profile">
			<div class="profile-info">
			{% if user.image %}
				<img class="user-image" src="{{ app.path }}/images/users/{{ user.image }}">
			{% else %}
				<img class="user-image" src="{{ app.path }}/images/interface/no_user.png">			
			{% endif %}

			</div>
			<div class="profile-info p-wide">
			<ul>
				<li><div class='h-username'>{{ user.username }}</div></li>
				<li><i class="fa fa-user fa-fix fa-calendar"></i> {{ user.created_at|date('d.m.Y') }}</li>
				{% if app.user %}
					<li><i class="fa fa-user fa-fix fa-clock-o"></i> Активность: {{ user.created_at|date('d.m.Y') }}</li>
				{% endif %}
				<li><i class="fa fa-user fa-fix fa-at"></i> Email: {{ user.email }}</li>
				{% if user.id == app.user.id %}
					<li><i class="fa fa-user fa-fix fa-pencil"></i> <a href='{{ path('user_change_password') }}'>Изменить пароль</a></li>
					<li><i class="fa fa-user fa-fix fa-sliders"></i> <a href='{{ path('settings') }}'>Настройки</a></li>
				{% endif %}
			</ul>
			</div>
			<div class="profile-info p-center">
				нУМЕРА
			</div>
		</div>
		{% if not user.cups is empty %}
			<div class='profile-cup'>
			{% for cup in user.cups %}
				<img class='profile-cup-img' src="{{ app.path }}/images/tournaments/cup/{{ cup.image.image }}">
			{% endfor %}
			<div class="cup-board"></div>
			{% for cup in user.cups %}
				<div class="cup-description">
					<i class="fa fa-futbol-o" aria-hidden="true"></i> {{ cup.description }}</div>
			{% endfor %}			
			</div>
		{% endif %}

	{% else %}
		<h5>Пользователь не найден</h5>
	{% endif %}
{% endblock %}