{% extends 'base.html.twig' %}

{% block title %} Настройки {% endblock %}
{% block header %} Настройки {% endblock %}
{% block body %}

	<a href="{{ path('profile') }}">Вернуться в профиль</a><br><br>
	<div class="profile">
		<div class="profile-info">
		<h3>Изображение</h3>
		{% if user.image %}
			<form method="post" action="{{ path('settings') }}">
				<input type='hidden' name='_csrf_token' value='{{ csrf_token() }}'>
				<input type="submit" class='l-short' name="submit_delete_image" value="х">				
			</form>
			<img class="user-image" src="{{ app.path }}/images/users/{{ user.image }}">
		{% else %}
			<img class="user-image" src="{{ app.path }}/images/interface/no_user.png">			
		{% endif %}

		{% if error %}
			<div class="message-error">{{ error }}</div>
		{% endif %}

		<form method='post' enctype='multipart/form-data' action="{{ path('settings') }}">
			<input type="file" name="userfile">
			<input type='hidden' name='_csrf_token' value='{{ csrf_token() }}'>
			<input type="submit" name="submit_upload_image" value="Загрузить">
		</form>
		</div>

	</div>
	<br>
	<h3>Уведомления</h3>
		<form method="post" action="{{ path('settings') }}">
			<label>
				<input class='checkbox' type="checkbox" {% if user.options.notification.guestbook %} checked {% endif %} name="guestbook" value="1">
				<span class="checkbox-custom"></span>
            	<span class="label">Гостевая книга</span>
            </label>
			<label>
				<input class='checkbox' type="checkbox" {% if user.options.notification.vote %} checked {% endif %} name="vote" value="1">
				<span class="checkbox-custom"></span>
            	<span class="label">Опросы</span>			
            </label>
			<input type='hidden' name='_csrf_token' value='{{ csrf_token() }}'>
			<input type="submit" name="submit_notification" value="Установить">			
		</form>
		<br>
		<h3>Часовой пояс</h3>
		<form method='post' action='{{ path("settings") }}'>
			<select name='user_timezone'>
				{% for timezone, offset in timezones %}
					<option {% if user.options.timezone == timezone %} selected {% endif %} value='{{ timezone }}'>{{ timezone }} {% if loop.index != 1 %}({% endif %}{% if offset > 0%}+{% endif %}{{ offset }}{% if loop.index != 1 %}){% endif %}</option>
				{% endfor %}
			</select>
			<input type='hidden' name='_csrf_token' value='{{ csrf_token() }}'>
			<input type="submit" name="submit_timezone" value="Установить">				
		</form>
{% endblock %}